#play-area{
    border: 1px solid black;
    margin: auto;
    width: 100%;
    height: 900px;
    position: relative;
}

#link{
    position: absolute;
    background-color: white;
    width: 60px;
    height: 62px;
    top: 100px;
}

body{
    background-image: url("");
}